*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'font-family: 'Noto Serif' ;
}

.nav {
 height: 50px;
 width: 100%;
 background-color: rgb(80,80,80);
 display: flex;
 align-items: center;
 justify-content: space-between;

}

.logo{
    height: 100%;
    width: 100px;
       
    }

a {
    color: inherit;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 15%;
    padding: 4px;
    
    }

.link li{
    display: inline-block;
    margin: 5px;
    
}

li a.active, li a:hover{
    background:white;
    transition: .5s;
    color: black;
    
}

.checkbtn{
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    display: none;
}
.link__responsive{
    display: none;
}

    #check {
        display: none;
    }

    
    @media only screen and (max-width: 500px){
        .link li{
            display: none;
        }
        .checkbtn {
            display: block;
        }
        
                  
              
            
       
     
        
      




     
    
p {
    text-align: justify;
}


.historia{
height: 500px;
width: 50%;


}




    }